<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Nazgul Project: mithlond-services-backend-war
  %%
  Copyright (C) 2015 Mithlond
  %%
  Licensed under the jGuru Europe AB license (the "License"), based
  on Apache License, Version 2.0; you may not use this file except
  in compliance with the License.
  
  You may obtain a copy of the License at
  
        http://www.jguru.se/licenses/jguruCorporateSourceLicense-2.0.txt
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>services-backend-war</display-name>
    <module-name>services-backend-war</module-name>

    <!--
        The KeyCloak server secures all resources within this backend WAR.
        The only role identified within this backend WAR is the
        "authenticated_user" (i.e. someone logged in via KeyCloak).
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>resources</web-resource-name>
            <url-pattern>/resource/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>mithlond-user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!-- transport-guarantee>CONFIDENTIAL</transport-guarantee -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>mithlond-user</role-name>
    </security-role>
    <!-- one security role per realm? -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
